<footer class="w-100 pv0 fixed">
  <div class="mw100 ph1-ns mh1">
      <div class="cf ph1-ns">
          <div class="fl f6 f5-ns mh0 pv2 pv3-ns dn di-l di-ns copy">
              <a class="pointer" href="https://aledwassell.com">/made_by_aled_©_{{year}}/</a>
          </div>
          <div class="fl f6 f5-ns mh0 pv2 pv3-ns di dn-ns dn-l copy">
              <a class="pointer" href="https://aledwassell.com">/©_{{year}}/</a>
          </div>
          <div class="fr f6 f5-ns pv2 pv3-ns mh0 {{link.label}}" *ngFor="let link of links; first as isFirst">
              <a class="pointer" [attr.href]="link.url" target="_blank">{{link.label}}{{isFirst ? '' : '/'}}</a>
          </div>
      </div>
  </div>
</footer>
