<div class="main-container">
  <ul class="list links" #list>
    <ng-container *ngFor="let link of links | async; index as i; count as c">
      <li
        *ngIf="i === math.floor(c / 2)"
        class="info"
        class="link pv3 pv3-ns pv3-m pv3-l"
      >
        <h1 class="tc f1 f-subheadline-m f-headline-l lh-solid fw6">
          [front-end
          <br />
          developer]
        </h1>
      </li>
      <li
        (mouseover)="link.open = true"
        (mouseleave)="link.open = false"
        *ngIf="link.label && link.url"
        class="link pv3 pv3-ns pv3-m pv3-l"
      >
        <a
          target="_blank"
          href="{{ link.url }}"
          class="pointer tc f3 f3-ns f4-m f3-l"
          [@openClose]="link.open ? 'open' : 'closed'"
        >
          {{ link.label }}
        </a>
      </li>
    </ng-container>
  </ul>
</div>
