@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@import './styles/icons.scss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: theme(colors.neutral.300);
	--color-background-dark: theme(colors.neutral.900);
	--color-text: theme(colors.neutral.700);
	--color-text-dark: theme(colors.neutral.300);
	--font-family-custom: 'SUSE Mono', monospace;
}

body {
	font-family: 'SUSE Mono', monospace;
	letter-spacing: 0.025em; /* Slight letter spacing for better readability */
	font-optical-sizing: auto;
	font-style: normal;
}
